body {
	font-size	: 100%;
	font-family	: Arial, Verdana, sans-serif;
	background-color: #e6d6bd;
}

h1 {
	font-size	: 1.3em;
	font-variant	: small-caps; 
}

fieldset {
	color		: #5873a0;
	font-weight	: bold; 
	width		: 1000px;	
	font-weight	: bold; 
	font-size	: 80%;
}

fieldset span {
	color		: red;
}

.coinsform label {
	color		: black;
}

.coinsform input, 
.coinsform select {
	background-color: #c0ae91;
	color		: #535353;
}

.coinsform input[type="number"] {
	width		: 60px; 	
}

.coinsform input[type="submit"] {
	width		: 120px;
	font-weight	: bold; 
	cursor		: pointer;	
}

.coinstable {
	color		: black;
	font-weight	: normal; 
	padding		: 0px;
	margin		: 0px;
	border		: 0px;
	border-spacing	: 0px;
}

.coinstable thead {
	text-align	: center;
	font-weight	: bold; 
}

.coinstable td,
.coinstable th
{
	border		: 1px solid;
	padding		: 2px;
}

.center {
	text-align	: center;	
}

.right {
	text-align	: right;	
}