body {
	font-size	: 100%;
	font-family	: Arial, Verdana, sans-serif;
	background-color: #e6d6bd;
}

h1 {
	font-size	: 1.3em;
	font-variant	: small-caps; 
}

fieldset {
	color		: #5873a0;
	font-weight	: bold; 
	width		: 600px;	
	font-weight	: bold; 
	font-size	: 80%;
}

.forumform label {
	color		: black;
}

.forumform input {
	background-color: #c0ae91;
	color		: #535353;
}

.forumform input[type="submit"] {
	width		: 120px;
	font-weight	: bold; 
	cursor		: pointer;	
}

.forumtable {
	color		: black;
	font-weight	: normal; 
	padding		: 0px;
	margin		: 0px;
	border		: 0px;
	border-spacing	: 0px;
}

.forumtable thead {
	text-align	: center;
	font-weight	: bold; 
}

.forumtable td,
.forumtable th
{
	border		: 1px solid;
	padding		: 2px;
}

.error {
	color		: red;
	font-weight	: bold;	
}